<div class="header">
    <div class="nav-header">
      <div class="Logo">
        <img class = "img-logo" src="../../assets/img/Logo.png">
        <div class="dropdown">
          <button mat-raised-button color="primary" class="dropbtn">Catégories</button>
          <div class="dropdown-content">
            <a href="#">Sport</a>
            <a href="#">Littérature</a>
            <a href="#">Peinture</a>
            <a href="#">Science</a>
            <a href="#">Musique</a>
            <a href="#">Philosophie</a>
            <a href="#">Cinéma</a>
            <a href="#">Histoire de l'art</a>
            <a href="#">Mathématiques</a>
            <a href="#">Informatique</a>
            <a href="#">Biologie</a>
            <a href="#">Psychologie</a>
            <a href="#">Economie</a>
            <a href="#">Politique</a>
            <a href="#">Cuisine</a>
            <a href="#">Mode</a>
            <a href="#">Photographie</a>
            <a href="#">Théâtre</a>
            <a href="#">Architecture</a>
            <a href="#">Religions et spiritualité</a>
            <a href="#">Ecologie</a>
            <a href="#">Sociologie</a>
            <a href="#">Médecine</a>
          </div>
        </div>
      </div>
      <div class="search-section">
        <input class="search" type="search" placeholder="Rechercher">
      </div>
      <div class="login-section">
        <button mat-raised-button color="primary" class="button-disconnect" (click)="goToHomePage()">Se déconnecter</button>
      </div>
    </div>
  </div>