<div class="header">
  <div class="nav-header">
    <div class="Logo">
      <img class = "img-logo" src="../../assets/img/Logo.png">
      <div class="dropdown">
        <button mat-raised-button color="primary" class="dropbtn">Catégories</button>
        <div class="dropdown-content">
          <a href="#">Sport</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="search-section">
      <input class="search" type="search" placeholder="Rechercher">
    </div>
    <div class="login-section">
      <button mat-raised-button color="primary" class="button-login" (click)="goToLogin()">Se connecter</button>
      <button mat-raised-button color="primary" class="button-register" (click)="goToLogin()">S'inscrire</button>
    </div>
  </div>
</div>