
<ng-container *ngIf="(publications$ | async)!.length > 0; else noPublications">
    <div *ngFor="let publication of publications$ | async" class="card-wrapper">
        <div class="card-body">
            <p class="card-text">Fact: {{publication.content}}</p>
            <p class="card-text">Auteur: {{publication.author!.nom}}</p>
        </div>
    </div>
</ng-container>

<ng-template #noPublications>
    <div class="no-publication">
        <p>Aucune publication pour le moment !</p>
    </div>
</ng-template>