<div class="container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <!-- Your existing content here -->
    <div class="intro-container">
      <h1>Bienvenue sur OnlyFact</h1>
      <p>Rejoignez la discussion, postez des FACTS</p>
      <a routerLink="/topics" class="btn btn-primary">Voir les sujets</a>
      <a routerLink="/assistance" class="btn btn-secondary">Page d'Assistance</a>
      <a routerLink="/login" class="btn btn-primary">Se connecter</a>
      <a routerLink="/register" class="btn btn-secondary">S'inscrire</a>
      <a routerLink="/profile" class="btn btn-primary">Mon profil</a>
    </div>
  </div>
</div>