<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
        <mat-nav-list>
            <mat-list-item>
                <a routerLink="/home" matLine>Home</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/assistance" matLine>Assistance</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()">Toggle Sidebar</button>
        <p>Content goes here</p>
    </mat-sidenav-content>
</mat-sidenav-container>

